<!DOCTYPE html>
<html>
<head>
  <title>Admin Slack Bot</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/navigation' %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% flash.each do |name, msg| %>
              <% content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end %>
            <%= yield %>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>

</body>
<script type="text/javascript">
  if (window.location.hash == '#_=_') {
    history.pushState("", document.title, window.location.href.replace(/\#(.+)/, '').replace(/http(s?)\:\/\/([^\/]+)/, '') )
  }
</script>
<%= render 'shared/toastr' %>
</html>
